{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recommended Meals</title>
    <script>
		function likeMeal(id) {
			// Send a POST request to the server to update the meal score
			fetch('/meal/' + id + '/like/', {method: 'POST'})
				.then(response => {
					if (response.ok) {
						//update the button color
						var button = document.getElementById('like-button-' + id)
						button.style.backgroundColor = 'green';
					}
				})
				.catch(error => {
					console.log(error);
				});
		}

		function dislikeMeal(id) {
			// Send a POST request to the server to update the meal score
			fetch('/meal/' + id + '/dislike/', {method: 'POST'})
				.then(response => {
					if (response.ok) {
						//update the button color
						var button = document.getElementById('dislike-button-' + id)
						button.style.backgroundColor = 'green';
					}
				})
				.catch(error => {
					console.log(error);
				});
		}
    </script>
</head>
<body>
    <h1>Weekly Meals</h1>
    {% if weekly_meals %}
        {% for meal in weekly_meals %}
            <h2>Day {{ forloop.counter }}</h2>
            <h3>Breakfast</h3>
            <p>Food 1: {% if meal.breakfast_food1 %}<a href="{% url 'display_recipe' recipe_name=meal.breakfast_food1 %}">{{ meal.breakfast_food1 }}</a>{% else %}N/A{% endif %}</p>
            <p>Food 2: {% if meal.breakfast_food2 %}<a href="{% url 'display_recipe' recipe_name=meal.breakfast_food2 %}">{{ meal.breakfast_food2 }}</a>{% else %}N/A{% endif %}</p>
            <p>Food 3: {% if meal.breakfast_food3 %}<a href="{% url 'display_recipe' recipe_name=meal.breakfast_food3 %}">{{ meal.breakfast_food3 }}</a>{% else %}N/A{% endif %}</p>
			<button id="like-button-{{ meal.id }}" onclick="likeMeal({{ meal.id }})">Like</button>
			<button id="dislike-button-{{ meal.id }}" onclick="dislikeMeal({{ meal.id }})">Dislike</button>
            <h3>Lunch</h3>
            <p>Food 1: {% if meal.lunch_food1 %}<a href="{% url 'display_recipe' recipe_name=meal.lunch_food1 %}">{{ meal.lunch_food1 }}</a>{% else %}N/A{% endif %}</p>
            <p>Food 2: {% if meal.lunch_food2 %}<a href="{% url 'display_recipe' recipe_name=meal.lunch_food2 %}">{{ meal.lunch_food2 }}</a>{% else %}N/A{% endif %}</p>
            <p>Food 3: {% if meal.lunch_food3 %}<a href="{% url 'display_recipe' recipe_name=meal.lunch_food3 %}">{{ meal.lunch_food3 }}</a>{% else %}N/A{% endif %}</p>
			<button id="like-button-{{ meal.id }}" onclick="likeMeal({{ meal.id }})">Like</button>
			<button id="dislike-button-{{ meal.id }}" onclick="dislikeMeal({{ meal.id }})">Dislike</button>
            <h3>Dinner</h3>
            <p>Food 1: {% if meal.dinner_food1 %}<a href="{% url 'display_recipe' recipe_name=meal.dinner_food1 %}">{{ meal.dinner_food1 }}</a>{% else %}N/A{% endif %}</p>
            <p>Food 2: {% if meal.dinner_food2 %}<a href="{% url 'display_recipe' recipe_name=meal.dinner_food2 %}">{{ meal.dinner_food2 }}</a>{% else %}N/A{% endif %}</p>
            <p>Food 3: {% if meal.dinner_food3 %}<a href="{% url 'display_recipe' recipe_name=meal.dinner_food3 %}">{{ meal.dinner_food3 }}</a>{% else %}N/A{% endif %}</p>
			<button id="like-button-{{ meal.id }}" onclick="likeMeal({{ meal.id }})">Like</button>
			<button id="dislike-button-{{ meal.id }}" onclick="dislikeMeal({{ meal.id }})">Dislike</button>
            <h3>Nutrients</h3>
            <p>Combined Nutrients: {{ meal.nutrients }}</p>
        {% endfor %}
    {% else %}
        <p>No weekly meals found.</p>
    {% endif %}
</body>
</html>